<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>uploadimage</servlet-name>
        <servlet-class>tryServlet.uploadimage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>footServlet</servlet-name>
        <servlet-class>TutoServlet.footServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>handServlet</servlet-name>
        <servlet-class>TutoServlet.handServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>earServlet</servlet-name>
        <servlet-class>TutoServlet.earServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pfootServlet</servlet-name>
        <servlet-class>TutoServlet.pfootServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>phandServlet</servlet-name>
        <servlet-class>TutoServlet.phandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pearServlet</servlet-name>
        <servlet-class>TutoServlet.pearServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOutServlet</servlet-name>
        <servlet-class>Authentication.SignOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createTutorial</servlet-name>
        <servlet-class>createTutorial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTutorialFoot</servlet-name>
        <servlet-class>servlet.CreateTutorialFoot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTutorialFoot</servlet-name>
        <servlet-class>servlet.UpdateTutorialFoot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTutorialFoot</servlet-name>
        <servlet-class>servlet.DeleteTutorialFoot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTutorialHand</servlet-name>
        <servlet-class>servlet.CreateTutorialHand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTutorialHand</servlet-name>
        <servlet-class>servlet.UpdateTutorialHand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTutorialHand</servlet-name>
        <servlet-class>servlet.DeleteTutorialHand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTutorialEar</servlet-name>
        <servlet-class>servlet.UpdateTutorialEar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTutorialEar</servlet-name>
        <servlet-class>servlet.DeleteTutorialEar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTutorialEar</servlet-name>
        <servlet-class>servlet.CreateTutorialEar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>Authentication.SignUp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uploadimage</servlet-name>
        <url-pattern>/uploadimage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>Authentication.SignUpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>Authentication.SignInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/SignInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>footServlet</servlet-name>
        <url-pattern>/footServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>handServlet</servlet-name>
        <url-pattern>/handServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>earServlet</servlet-name>
        <url-pattern>/earServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pfootServlet</servlet-name>
        <url-pattern>/pfootServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>phandServlet</servlet-name>
        <url-pattern>/phandServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pearServlet</servlet-name>
        <url-pattern>/pearServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOutServlet</servlet-name>
        <url-pattern>/SignOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createTutorial</servlet-name>
        <url-pattern>/createTutorial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTutorialFoot</servlet-name>
        <url-pattern>/CreateTutorialFoot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTutorialFoot</servlet-name>
        <url-pattern>/UpdateTutorialFoot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTutorialFoot</servlet-name>
        <url-pattern>/DeleteTutorialFoot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTutorialHand</servlet-name>
        <url-pattern>/CreateTutorialHand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTutorialHand</servlet-name>
        <url-pattern>/UpdateTutorialHand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTutorialHand</servlet-name>
        <url-pattern>/DeleteTutorialHand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTutorialEar</servlet-name>
        <url-pattern>/UpdateTutorialEar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTutorialEar</servlet-name>
        <url-pattern>/DeleteTutorialEar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTutorialEar</servlet-name>
        <url-pattern>/CreateTutorialEar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
